{% load static %}
<div class="card justify-content-center mx-auto mt-3 text-light"
     style="max-width: 700px; min-width: 50%; border-color: transparent;">
    <div class="card-headercard-header d-flex justify-content-between align-items-center">

        <div class="ms-1 mt-1">
            <a class="nav-link d-flex" href="{% url 'profile' post.author.id %}">
                {% if post.author.avatar %}
                <img src="{{ post.author.avatar.url }}" width="50" class="rounded-circle me-1">
                {% else %}
                <img src="{% static 'img/no_avatar.png' %}" width="50" class="rounded-circle me-1">
                {% endif %}
                <strong>
                    <h4 class="mt-2 ms-2">{{ post.author }}</h4></strong></a>
        </div>
        <div>
            {% if user.id == post.author.id or request.user.is_staff %}
            <!--modal delete post-->
            <div class="modal" id="deleteModalPost-{{ post.id }}">
                <div class="modal-dialog bg-dark">
                    <div class="modal-content">
                        <div class="modal-body bg-dark d-flex justify-content-between">
                            <p>Are you sure you want to delete?</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer bg-dark d-flex justify-content-center">
                            <div class="text-center">
                                <a href="{% url 'delete_post' post_id=post.id %}" class="btn btn-outline-danger me-2">
                                    Delete</a>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal edit post-->
            <div class="modal" id="editModalPost-{{ post.id }}">
                <div class="modal-dialog bg-dark">
                    <div class="modal-content">
                        <div class="model-header bg-dark d-flex justify-content-between">
                            <p class="ms-3 mt-3">Edit your publication</p>
                            <button type="button" class="btn-close me-3 mt-3" data-bs-dismiss="modal"
                                    aria-label="Close"></button>

                        </div>
                        <div class="modal-body bg-dark d-flex justify-content-center">
                            <form method="post" class="w-100"
                                  action="{% url 'edit_post' post_id=post.id %}"
                            >
                                <div class="mb-3">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="descriptionByPost{{ post.id }}">Description: </label>
                                        <textarea class="form-control" id="descriptionByPost{{ post.id }}"
                                                  name="description"
                                                  maxlength="255"
                                                  placeholder="Enter description" style="height: 170px;">{{ post.description }}</textarea>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="tagsByPost{{ post.id }}">Tags: </label>
                                        <textarea class="form-control" id="tagsByPost{{ post.id }}"
                                                  maxlength="100"
                                                  name="tags" placeholder="Enter tags"
                                        >{{ post.get_tags_string }}</textarea>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-secondary me-2">OK</button>
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--                        <div class="modal-footer bg-dark d-flex justify-content-center">-->
                        <!--                            <div class="text-center">-->
                        <!--                                <a href="{% url 'delete_post' post_id=post.id %}" class="btn btn-outline-danger me-2">-->
                        <!--                                Delete</a>-->
                        <!--                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
            <!--modal menu-->
            <div class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <!--                    :-->
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                           data-bs-target="#editModalPost-{{ post.id }}">Edit</a></li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                           data-bs-target="#deleteModalPost-{{ post.id }}">Delete</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="">
        <br>
        {% include 'carousel.html' %}
    </div>
    <div class="card-text mx-3 mt-2">
        <p>
            {{ post.description }}
        </p>
    </div>
    <!--likes/comments/favourite icons    -->
    <div class="d-flex justify-content-between">
        <div class="d-flex align-self-start">
            <div>
                {% if user in post.likes.all %}
                <a class="nav-link" href="{% url 'like' post_id=post.id %}"><img
                        src="{% static 'img/favorite_on.png' %}" width="30"
                        class="">
                </a>
                {% else %}
                <a class="nav-link" href="{% url 'like' post_id=post.id %}"><img
                        src="{% static 'img/favorite_off.png' %}" width="30"
                        class=""></a>
                {% endif %}
                <div class="text-center"><span class="">{{ post.likes.count }}</span></div>
            </div>

            <div class="ms-2">

                <a class="nav-link" href="{% url 'single_post' post_id=post.id %}"><img
                        src="{% static 'img/comment.png' %}"
                        width="30"></a>
                <a class="nav-link" href="{% url 'single_post' post_id=post.id %}">
                    <div class="text-center">
                        <span class="">{{ post.get_total_comments_count }}</span>
                    </div>
                </a>
            </div>
            <div class="ms-2">
                {% if user in post.saved.all %}
                <a class="nav-link" href="{% url 'save_post' post_id=post.id %}">
                    <img src="{% static 'img/pin_on.png' %}" width="30">
                </a>
                {% else %}
                <a class="nav-link" href="{% url 'save_post' post_id=post.id %}">
                    <img src="{% static 'img/pin_off.png' %}" width="30">
                </a>
                {% endif %}
            </div>
        </div>
        <!--comment post collapse-->
        <br>
        <div class="text-end">
            <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" href="#multiCollapseExample1"
               role="button"
               aria-expanded="false" aria-controls="multiCollapseExample1">comment</a>
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
    </div>
    <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
            <form method="post" class=""
                  action="{% url 'comment_post' post_id=post.id %}">
                <div class="mb-3">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                </div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">OK</button>
            </form>
        </div>
    </div>
    <div>


    </div>

    <!--tags-->
    {% if post.tags.all %}
    <!--    <hr class="hr">-->
    <div class="container mb-3">
        {% for tag in post.tags.all %}
        <div class="btn btn-sm btn-secondary" role="alert"
             style="display: inline-block;">
            <a href="{% url 'feed' %}?tag={{ tag|urlencode }}" class="nav-link">{{ tag }}
            </a>
        </div>
        {% endfor %}
    </div>

    {% endif %}
    <!--    <hr class="hr">-->
</div>
<div class="card-footer text-secondary">
    {{ post.date_created|timesince }} ago
    <hr class="hr">
</div>
